@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.body {
  font-family: "Work Sans", sans-serif;
}

.navbar {
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f0d7a9;
    color:#fef2db;
    font-size: 30px;
    font-family: "Work Sans", sans-serif;
}
.navbar .nav-link {
  color:#be9a60;
}
.navbar .nav-link:hover {
  color: white;
}
.navbar-brand {
  color: #fef2db;
  font-size: 35px;
}
.navbar-brand:hover {
  color: inherit;
}

#login {
    padding-top: 200px;
    padding-bottom: 50px;
    font-family: "Work Sans", sans-serif;
    color:#be9a60;
}

#main_ {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: "Work Sans", sans-serif;
}

main {
  margin-top: 100px;
}

.form-control {
    width: 250px;
}

@keyframes pulse {
  0% {
    background-color: #f8f9fa;
  }
  50% {
    background-color: #edbc51;
  }
  100% {
    background-color: #f8f9fa;
  }
}

.badge {
  background-color: #f8f9fa;
  color: black;
}

.badge.pulse {
  animation: pulse 0.9s ease-in-out;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-input {
  padding: 8px 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.fixed-bottom {
    background-color: #f0d7a9;
}
